.page {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  padding: 2rem 3rem;
  font-size: 1rem;

  h1 {
    font-size: 1.2rem;
    color: blue;
  }

  p {
    color: grey;
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin: 1rem 0 0 0;

  div {
    display: flex;
  }

  input,
  select {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem;
    background: rgb(222, 227, 236);
    border: none;
    border-bottom: 1px solid rgb(82, 82, 82);
    border-radius: 0.3rem 0.3rem 0 0;
  }

  .collectionType {
    max-width: 10rem;
  }
}

.btnsContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  button {
    background: none;
    border: none;
    padding: 1rem;
    margin: 0 0 0 1rem;
    cursor: pointer;
  }

  .btnCancel {
    width: fit-content;
    color: grey;
  }

  .btnBack {
    width: fit-content;
    color: blue;
  }

  .btnProceed {
    background: blue;
    color: #fff;
    border-radius: 0.3rem;
    border: none;
  }
}
